<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">D</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#Sobre-Mi">Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Trabajos">Trabajos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header id="Hero-Section">
    <div class="container text-center text-white">
        <h1>YO SOY</h1>
        <hr class="hero-line mx-auto opacity-100">
        <h1>DANIELA</h1>
    </div>
</header>

<section id="Sobre-Mi" class="pt-5 container d-none d-sm-block">
    <div>
        <h4 class="text-center fw-bold">Desarrolladora Web Full Stack Junior</h4>
        <hr class="opacity-100 w-25 mx-auto">
    </div>
    <div class="row pt-3">
        <div class="col-12 text-center">
            <p>¡Hola! Mi nombre es <b>Daniela Hernández</b> y soy una profesional de las ciencias cognitivas y la programación. En mi formación destaca la Psicología y el <b>Desarrollo Web Full Stack</b>, contando con certificaciones tales como la obtenida en el Bootcamp del <b>Programa Talento Digital para Chile</b> en conjunto con <b>Desafío Latam</b>, donde cada semana desarrollábamos diversas soluciones, siempre atentos a mantener un código limpio y buenas prácticas. Cuento con experiencia desarrollando diversas aplicaciones CRUD por lo que me considero apta para desempeñarme tanto en el <b>FrontEnd</b> como en el <b>Backend</b>. Las herramientas con las que trabajo son <i>HTML5, CSS3, JavaScript, jQuery, Node, Bootstrap, Sass, TypeScript, Git, GitHub, PostgreSQL, MySQL, Vue, React</i> y recientemente estoy aprendiendo <i>PHP y Laravel</i>. A lo largo de mi experiencia laboral, he aprendido a trabajar con distintos tipos de personas, de forma particular y en organizaciones. Estoy en constante formación para mantenerme actualizada con las últimas tendencias y tecnologías y me destaco por mi dinamismo, deseos de aprender y entregar valor en cada proyecto que emprendo. </p>
        </div>
    </div>
</section>

<section id="Experiencia" class="py-5 container text-center">
    <div>
        <h1 class="fw-bold text-uppercase">mi experiencia</h1>
        <hr class="opacity-100 mx-auto w-25">
    </div>
    <div class="row pt-3">
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/html5.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">HTML5</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/css3.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">CSS3</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/bootstrap.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">Bootstrap</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/javascript.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">JS</h4>
        </article>        
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/jquery.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">jQuery</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/sass.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">Sass</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/typescript.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">TypeScript</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/node.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">Node.Js</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/git.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">Git</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/github.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">GitHub</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/vue.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">Vue</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/react.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">React</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/postgresql.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">PostgreSQL</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/mysql2.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">MySQL</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/netlify.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">Netlify</h4>
        </article>
        <article class="col-12 col-sm-3 my-2">
            <img src="/css/img/heroku.svg" style="width: 6rem;">
            <h4 class="fw-bold mt-3">Heroku</h4>
        </article>
    </div>
</section>

<section id="Trabajos" class="py-5">
    <div>
        <h1 class="fw-bold text-center text-uppercase mt-2 text-white">mis últimos trabajos</h1>
        <hr class="bg-white opacity-100 mx-auto w-25">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/viajes-chile.JPG" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <a href="https://github.com/DanyBeth-Dev/01-ViajesChile" target="_blank"><h4 class="card-title">Viajes Chile</h4></a>
                        <p class="card-text fw-light">HTML, CSS, Bootstrap, JavaScript y jQuery.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/pokeapi.JPG" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <a href="https://github.com/DanyBeth-Dev/pokeApi" target="_blank"><h4 class="card-title">pokeApi</h4></a>
                        <p class="card-text fw-light">Api de Pokemón creada con HTML, Bootstrap, JavaScript, jQuery, Ajax y CanvasJS</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/torneo.JPG" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <a href="https://github.com/DanyBeth-Dev/torneo" target="_blank"><h4 class="card-title">Torneo de Artes Marciales</h4></a>
                        <p class="card-text fw-light">Herencia, módulos, funciones IIFE, asincronismo, clases, manipulación del DOM</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/covid19.png" alt="Captura del primer proyecto" class="card-img-top img-fluid">
                    <div class="card-body">
                        <a href="https://github.com/DanyBeth/Proyecto-Hito1-Hito2/tree/main/public/covid19" target="_blank"><h4 class="card-title">Covid-19 API</h4></a>
                        <p class="card-text fw-light">MVP que entrega la situación mundial del Covid con gráficos de barras y detalles en modales.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/instafake.JPG" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <a href="https://github.com/DanyBeth/Proyecto-Hito1-Hito2/tree/main/public/desafio-instafake" target="_blank"><h4 class="card-title">InstaFake</h4></a>
                        <p class="card-text fw-light">API de Instagram</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/jwt.JPG" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <a href="https://github.com/DanyBeth/Proyecto-Hito1-Hito2/tree/main/public/jwt-practico" target="_blank"><h4 class="card-title">InstaFake</h4></a>
                        <p class="card-text fw-light">Login con JsonWebToken</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/concurso.JPG" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <a href="https://github.com/DanyBeth-Dev/concurso.JPG" target="_blank"><h4 class="card-title">¿Quién Ganará?</h4></a>
                        <p class="card-text fw-light">Sistema Full Stack que permite ingresar usuarios aleatorios desde una API hacia una base de datos, y a través de una consulta aleatoria escoge al ganador.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/elecciones.png" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <a href="https://github.com/DanyBeth-Dev/elecciones/" target="_blank"><h4 class="card-title">Elecciones Presidenciales</h4></a>
                        <p class="card-text fw-light">Sistema Full Stack que administra votos en una elección presidencial.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/nasa.JPG" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <a href="https://github.com/DanyBeth-Dev/nasa/" target="_blank"><h4 class="card-title">La Nasa: Sistema para subir fotos</h4></a>
                        <p class="card-text fw-light">Node.Js, Express, Express-FileUpload, Express-Handlebars, JsonWebToken, PostgreSQL, Axios, jQuery.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Contacto" class="container text-center py-5">
    <div class="mb-5">
        <h1 class="fw-bold text-uppercase">contacto</h1>
        <hr class="opacity-100 w-25 mx-auto">
    </div>
    <div>
        <p>¿Quieres conocer más de mí?</p>
        <button data-tf-popup="dW6TnNfu" data-tf-hide-headers data-tf-iframe-props="title=Mi Portafolio" data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#B8C2D4;color:#000000;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Comenzar</button><script src="//embed.typeform.com/next/embed.js"></script>
    </div>
</section>

<footer id="Footer" class="text-center text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h1 class="fw-bold text-uppercase">daniela</h1>
            </div>
            <div class="col-12 col-sm-6">
                <a href="https://github.com/DanyBeth-Dev/" target="_blank">
                    <i class="fa-brands fa-github fa-3x mx-2"></i>
                </a>
                <a href="https://www.linkedin.com/in/dev-danielahernandez/" target="_blank">
                    <i class="fa-brands fa-linkedin fa-3x mx-2"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        $("a").click(function () {
            var gato = this.hash
            $("html, body").animate({
                scrollTop: $(gato).offset().top - 70
            }, 800);
        });
    });
</script>
