<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">D</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#Sobre-Mi">Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Trabajos">Trabajos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header id="Hero-Section">
    <div class="container text-center text-white">
        <h1>YO SOY</h1>
        <hr class="hero-line mx-auto opacity-100">
        <h1>DANIELA</h1>
    </div>
</header>

<section id="Sobre-Mi" class="pt-5 container d-none d-sm-block">
    <div>
        <h4 class="text-center fw-bold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam reiciendis deserunt culpa doloremque iusto incidunt soluta dolorum, labore corrupti quaerat? Iure, eveniet laboriosam? Officiis quae sunt enim. Deleniti, cumque accusantium!</h4>
        <hr class="opacity-100 w-25 mx-auto">
    </div>
    <div class="row pt-3">
        <div class="col-6">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto officiis reiciendis praesentium repudiandae voluptatem repellat, odio culpa expedita maiores. Saepe vitae commodi aperiam iste asperiores repellendus recusandae voluptas repellat nemo!</p>
        </div>
        <div class="col-6">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit nulla eveniet ex a est itaque repellat rerum modi odio laborum numquam facere soluta, consectetur repellendus, alias quidem quasi magnam accusamus?</p>
        </div>
    </div>
</section>

<section id="Experiencia" class="py-5 container text-center">
    <div>
        <h1 class="fw-bold text-uppercase">mi experiencia</h1>
        <hr class="opacity-100 mx-auto w-25">
    </div>
    <div class="row pt-3">
        <article class="col-12 col-sm-3">
            <i class="fa-brands fa-html5 fa-10x"></i>
            <h4 class="fw-bold mt-3">HTML5</h4>
            <h4>2021 - 2022</h4>
        </article>
        <article class="col-12 col-sm-3">
            <i class="fa-brands fa-css3-alt fa-10x"></i>
            <h4 class="fw-bold mt-3">CSS3</h4>
            <h4>2021 - 2022</h4>
        </article>
        <article class="col-12 col-sm-3">
            <i class="fa-brands fa-js fa-10x"></i>
            <h4 class="fw-bold mt-3">JS</h4>
            <h4>2021 - 2022</h4>
        </article>
        <article class="col-12 col-sm-3">
            <i class="fa-brands fa-node fa-10x"></i>
            <h4 class="fw-bold mt-3">Node.Js</h4>
            <h4>2022</h4>
        </article>
    </div>
</section>

<section id="Trabajos" class="py-5">
    <div>
        <h1 class="fw-bold text-center text-uppercase mt-2 text-white">mis últimos trabajos</h1>
        <hr class="bg-white opacity-100 mx-auto w-25">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/meet_coffee.png" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Meet&Coffee</h4>
                        <p class="card-text fw-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut quod fuga natus perspiciatis culpa labore excepturi deleniti officia quis? Ut eaque ipsa, ratione quisquam voluptate dicta expedita et quis!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/meet_coffee.png" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Meet&Coffee</h4>
                        <p class="card-text fw-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut quod fuga natus perspiciatis culpa labore excepturi deleniti officia quis? Ut eaque ipsa, ratione quisquam voluptate dicta expedita et quis!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/meet_coffee.png" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Meet&Coffee</h4>
                        <p class="card-text fw-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut quod fuga natus perspiciatis culpa labore excepturi deleniti officia quis? Ut eaque ipsa, ratione quisquam voluptate dicta expedita et quis!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/meet_coffee.png" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Meet&Coffee</h4>
                        <p class="card-text fw-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut quod fuga natus perspiciatis culpa labore excepturi deleniti officia quis? Ut eaque ipsa, ratione quisquam voluptate dicta expedita et quis!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/meet_coffee.png" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Meet&Coffee</h4>
                        <p class="card-text fw-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut quod fuga natus perspiciatis culpa labore excepturi deleniti officia quis? Ut eaque ipsa, ratione quisquam voluptate dicta expedita et quis!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 my-3">
                <div class="card border-0">
                    <img src="assets/css/img/meet_coffee.png" alt="Captura del primer proyecto" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Meet&Coffee</h4>
                        <p class="card-text fw-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut quod fuga natus perspiciatis culpa labore excepturi deleniti officia quis? Ut eaque ipsa, ratione quisquam voluptate dicta expedita et quis!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Contacto" class="container text-center py-5">
    <div class="mb-5">
        <h1 class="fw-bold text-uppercase">contacto</h1>
        <hr class="opacity-100 w-25 mx-auto">
    </div>
    <div>
        <p>¿Quieres conocer más de mí?</p>
        <a href="https://tqwnhsntg60.typeform.com/to/dW6TnNfu" target="_blank"><button class="btn bg-secondary text-white">Comenzar</button></a>
    </div>
</section>